
CREATE TABLE [dbo].[TimeSheetMaster](
	[TimeSheetMasterID] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[TotalHours] [int] NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[TimeSheetStatus] [int] NULL,
 CONSTRAINT [PK_TimeSheetMaster] PRIMARY KEY CLUSTERED 
(
	[TimeSheetMasterID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheetMaster] ON
INSERT [dbo].[TimeSheetMaster] ([TimeSheetMasterID], [FromDate], [ToDate], [TotalHours], [UserID], [CreatedOn], [Comment], [TimeSheetStatus]) VALUES (1, CAST(0x333E0B00 AS Date), CAST(0x393E0B00 AS Date), 35, 47, CAST(0x0000A8DD00100525 AS DateTime), N'Approved', 2)
SET IDENTITY_INSERT [dbo].[TimeSheetMaster] OFF
/****** Object:  Table [dbo].[TimeSheetDetails]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetDetails](
	[TimeSheetID] [int] IDENTITY(1,1) NOT NULL,
	[DaysofWeek] [varchar](50) NULL,
	[Hours] [int] NULL,
	[Period] [date] NULL,
	[ProjectID] [int] NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[TimeSheetMasterID] [int] NULL,
	[TotalHours] [int] NULL,
 CONSTRAINT [PK_TimeSheetDetails] PRIMARY KEY CLUSTERED 
(
	[TimeSheetID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheetDetails] ON
INSERT [dbo].[TimeSheetDetails] ([TimeSheetID], [DaysofWeek], [Hours], [Period], [ProjectID], [UserID], [CreatedOn], [TimeSheetMasterID], [TotalHours]) VALUES (1, N'Sunday', 5, CAST(0x333E0B00 AS Date), 1, 47, CAST(0x0000A8DD0010052B AS DateTime), 1, NULL)
INSERT [dbo].[TimeSheetDetails] ([TimeSheetID], [DaysofWeek], [Hours], [Period], [ProjectID], [UserID], [CreatedOn], [TimeSheetMasterID], [TotalHours]) VALUES (2, N'Monday', 5, CAST(0x343E0B00 AS Date), 1, 47, CAST(0x0000A8DD0010052F AS DateTime), 1, NULL)
INSERT [dbo].[TimeSheetDetails] ([TimeSheetID], [DaysofWeek], [Hours], [Period], [ProjectID], [UserID], [CreatedOn], [TimeSheetMasterID], [TotalHours]) VALUES (3, N'Tuesday', 5, CAST(0x353E0B00 AS Date), 1, 47, CAST(0x0000A8DD00100530 AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[TimeSheetDetails] OFF
/****** Object:  Table [dbo].[TimeSheetAuditTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetAuditTB](
	[ApprovalTimeSheetLogID] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalUser] [int] NULL,
	[ProcessedDate] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[Status] [int] NULL,
	[TimeSheetID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_TimeSheetAuditTB] PRIMARY KEY CLUSTERED 
(
	[ApprovalTimeSheetLogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheetAuditTB] ON
INSERT [dbo].[TimeSheetAuditTB] ([ApprovalTimeSheetLogID], [ApprovalUser], [ProcessedDate], [CreatedOn], [Comment], [Status], [TimeSheetID], [UserID]) VALUES (1, 48, CAST(0x0000A8DD0010053B AS DateTime), CAST(0x0000A8DD00100538 AS DateTime), N'', 1, 1, 47)
INSERT [dbo].[TimeSheetAuditTB] ([ApprovalTimeSheetLogID], [ApprovalUser], [ProcessedDate], [CreatedOn], [Comment], [Status], [TimeSheetID], [UserID]) VALUES (2, 48, CAST(0x0000A8DD0010FD56 AS DateTime), CAST(0x0000A8DD0010FD56 AS DateTime), N'Approved', 2, 1, 47)
SET IDENTITY_INSERT [dbo].[TimeSheetAuditTB] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Rolename] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleID], [Rolename]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [Rolename]) VALUES (2, N'Users')
INSERT [dbo].[Roles] ([RoleID], [Rolename]) VALUES (3, N'SuperAdmin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Registration]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Mobileno] [varchar](20) NULL,
	[EmailID] [varchar](100) NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](100) NULL,
	[ConfirmPassword] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[Birthdate] [datetime] NULL,
	[RoleID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[EmployeeID] [varchar](10) NULL,
	[DateofJoining] [date] NULL,
	[ForceChangePassword] [int] NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON
INSERT [dbo].[Registration] ([RegistrationID], [Name], [Mobileno], [EmailID], [Username], [Password], [ConfirmPassword], [Gender], [Birthdate], [RoleID], [CreatedOn], [EmployeeID], [DateofJoining], [ForceChangePassword]) VALUES (1, N'SuperAdmin', N'9998887770', N'SuperAdmin@gmail.com', N'SuperAdmin', N'EcMeUuVrv6U89Ul/imhLmw==', N'EcMeUuVrv6U89Ul/imhLmw==', N'M', CAST(0x0000816500000000 AS DateTime), 3, CAST(0x0000A7E300AFA2EB AS DateTime), N'EMP1', NULL, NULL)
INSERT [dbo].[Registration] ([RegistrationID], [Name], [Mobileno], [EmailID], [Username], [Password], [ConfirmPassword], [Gender], [Birthdate], [RoleID], [CreatedOn], [EmployeeID], [DateofJoining], [ForceChangePassword]) VALUES (2, N'Admin', N'9998887770', N'Admin@gg.com', N'Admin', N'EcMeUuVrv6U89Ul/imhLmw==', N'EcMeUuVrv6U89Ul/imhLmw==', N'M', CAST(0x0000816400000000 AS DateTime), 1, CAST(0x0000A7D800B7A919 AS DateTime), N'EMP2', NULL, NULL)
INSERT [dbo].[Registration] ([RegistrationID], [Name], [Mobileno], [EmailID], [Username], [Password], [ConfirmPassword], [Gender], [Birthdate], [RoleID], [CreatedOn], [EmployeeID], [DateofJoining], [ForceChangePassword]) VALUES (3, N'Aatish Admin', N'9998887770', N'aatish.dhatrak@demo.com', N'AatishAdmin', N'EcMeUuVrv6U89Ul/imhLmw==', N'EcMeUuVrv6U89Ul/imhLmw==', N'M', CAST(0x000070F700000000 AS DateTime), 1, CAST(0x0000A809017F5B73 AS DateTime), N'EMP3', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Registration] OFF
/****** Object:  Table [dbo].[ProjectMaster]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProjectMaster](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](100) NULL,
	[NatureofIndustry] [varchar](100) NULL,
	[ProjectCode] [varchar](10) NULL,
 CONSTRAINT [PK_ProjectMaster] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectMaster] ON
INSERT [dbo].[ProjectMaster] ([ProjectID], [ProjectName], [NatureofIndustry], [ProjectCode]) VALUES (1, N'ABC Bearings Ltd', N'Bearings', N'A001')
INSERT [dbo].[ProjectMaster] ([ProjectID], [ProjectName], [NatureofIndustry], [ProjectCode]) VALUES (2, N'Alok Industries Ltd', N'Textile', N'A002')
INSERT [dbo].[ProjectMaster] ([ProjectID], [ProjectName], [NatureofIndustry], [ProjectCode]) VALUES (3, N'Ambuja Cement Ltd', N'Cement', N'A003')
SET IDENTITY_INSERT [dbo].[ProjectMaster] OFF
/****** Object:  Table [dbo].[NotificationsTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationsTB](
	[NotificationsID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NULL,
	[Message] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationsTB] PRIMARY KEY CLUSTERED 
(
	[NotificationsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationsTB] ON
INSERT [dbo].[NotificationsTB] ([NotificationsID], [Status], [Message], [CreatedOn], [FromDate], [ToDate]) VALUES (4, N'D', N'Fill Timesheet', CAST(0x0000A8D300C667FC AS DateTime), CAST(0x0000A87D009B2E90 AS DateTime), CAST(0x0000A87D009DEDB0 AS DateTime))
INSERT [dbo].[NotificationsTB] ([NotificationsID], [Status], [Message], [CreatedOn], [FromDate], [ToDate]) VALUES (5, N'D', N'Fill TimeSheet by 5 May', CAST(0x0000A8D300D313FA AS DateTime), CAST(0x0000A899009B2E90 AS DateTime), CAST(0x0000A899009DEDB0 AS DateTime))
INSERT [dbo].[NotificationsTB] ([NotificationsID], [Status], [Message], [CreatedOn], [FromDate], [ToDate]) VALUES (6, N'D', N'Fill TimeSheet by 1st May', CAST(0x0000A8D300E1953E AS DateTime), CAST(0x0000A8D6009B2E90 AS DateTime), CAST(0x0000A8D6009DEDB0 AS DateTime))
SET IDENTITY_INSERT [dbo].[NotificationsTB] OFF
/****** Object:  Table [dbo].[ExpenseAuditTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpenseAuditTB](
	[ApprovaExpenselLogID] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalUser] [int] NULL,
	[ProcessedDate] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[Status] [int] NULL,
	[ExpenseID] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_ExpenseAuditTB] PRIMARY KEY CLUSTERED 
(
	[ApprovaExpenselLogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseAuditTB] ON
INSERT [dbo].[ExpenseAuditTB] ([ApprovaExpenselLogID], [ApprovalUser], [ProcessedDate], [CreatedOn], [Comment], [Status], [ExpenseID], [UserID]) VALUES (5, 48, CAST(0x0000A8D80137A810 AS DateTime), CAST(0x0000A8D80137A80F AS DateTime), N'', 1, 3, 47)
INSERT [dbo].[ExpenseAuditTB] ([ApprovaExpenselLogID], [ApprovalUser], [ProcessedDate], [CreatedOn], [Comment], [Status], [ExpenseID], [UserID]) VALUES (6, 48, CAST(0x0000A8DC00077DD0 AS DateTime), CAST(0x0000A8D8013D8E03 AS DateTime), N'ok', 2, 3, 47)
INSERT [dbo].[ExpenseAuditTB] ([ApprovaExpenselLogID], [ApprovalUser], [ProcessedDate], [CreatedOn], [Comment], [Status], [ExpenseID], [UserID]) VALUES (7, 48, CAST(0x0000A8DD00106B22 AS DateTime), CAST(0x0000A8DD00106B22 AS DateTime), N'', 1, 1, 47)
SET IDENTITY_INSERT [dbo].[ExpenseAuditTB] OFF
/****** Object:  Table [dbo].[Expense]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Expense](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[PurposeorReason] [varchar](50) NULL,
	[ExpenseStatus] [int] NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[VoucherID] [varchar](50) NULL,
	[HotelBills] [int] NULL,
	[TravelBills] [int] NULL,
	[MealsBills] [int] NULL,
	[LandLineBills] [int] NULL,
	[TransportBills] [int] NULL,
	[MobileBills] [int] NULL,
	[Miscellaneous] [int] NULL,
	[TotalAmount] [int] NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Comment] [varchar](100) NULL,
	[ProjectID] [int] NULL,
 CONSTRAINT [PK_Expense] PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Expense] ON
INSERT [dbo].[Expense] ([ExpenseID], [PurposeorReason], [ExpenseStatus], [FromDate], [ToDate], [VoucherID], [HotelBills], [TravelBills], [MealsBills], [LandLineBills], [TransportBills], [MobileBills], [Miscellaneous], [TotalAmount], [UserID], [CreatedOn], [Comment], [ProjectID]) VALUES (1, N'Demo', 2, CAST(0x2E3E0B00 AS Date), CAST(0x323E0B00 AS Date), NULL, 50000, 0, 8000, 0, 0, 0, 0, 58000, 47, CAST(0x0000A8DD00106B14 AS DateTime), N'Approved ', 2)
SET IDENTITY_INSERT [dbo].[Expense] OFF
/****** Object:  Table [dbo].[ELMAH_Error]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELMAH_Error](
	[ErrorId] [uniqueidentifier] NOT NULL,
	[Application] [nvarchar](60) NOT NULL,
	[Host] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Source] [nvarchar](60) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[StatusCode] [int] NOT NULL,
	[TimeUtc] [datetime] NOT NULL,
	[Sequence] [int] IDENTITY(1,1) NOT NULL,
	[AllXml] [ntext] NOT NULL,
 CONSTRAINT [PK_ELMAH_Error] PRIMARY KEY NONCLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ELMAH_Error_App_Time_Seq] ON [dbo].[ELMAH_Error] 
(
	[Application] ASC,
	[TimeUtc] DESC,
	[Sequence] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ELMAH_Error] ON
INSERT [dbo].[ELMAH_Error] ([ErrorId], [Application], [Host], [Type], [Source], [Message], [User], [StatusCode], [TimeUtc], [Sequence], [AllXml]) VALUES (N'b0e03786-1e7d-437e-bed9-c41917a70db9', N'/LM/W3SVC/4/ROOT', N'SAI-PC', N'System.NullReferenceException', N'WebTimeSheetManagement', N'Object reference not set to an instance of an object.', N'', 0, CAST(0x0000A8DC0136F46D AS DateTime), 1, N'<error
  host="SAI-PC"
  type="System.NullReferenceException"
  message="Object reference not set to an instance of an object."
  source="WebTimeSheetManagement"
  detail="System.NullReferenceException: Object reference not set to an instance of an object.&#xD;&#xA;   at WebTimeSheetManagement.Controllers.LoginController.Login(LoginViewModel loginViewModel) in D:\Projects\WebTimeSheetManagement\WebTimeSheetManagement\Controllers\LoginController.cs:line 113&#xD;&#xA;   at lambda_method(Closure , ControllerBase , Object[] )&#xD;&#xA;   at System.Web.Mvc.ActionMethodDispatcher.Execute(ControllerBase controller, Object[] parameters)&#xD;&#xA;   at System.Web.Mvc.ReflectedActionDescriptor.Execute(ControllerContext controllerContext, IDictionary`2 parameters)&#xD;&#xA;   at System.Web.Mvc.ControllerActionInvoker.InvokeActionMethod(ControllerContext controllerContext, ActionDescriptor actionDescriptor, IDictionary`2 parameters)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.&lt;BeginInvokeSynchronousActionMethod&gt;b__39(IAsyncResult asyncResult, ActionInvocation innerInvokeState)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`2.CallEndDelegate(IAsyncResult asyncResult)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResultBase`1.End()&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.EndInvokeActionMethod(IAsyncResult asyncResult)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.AsyncInvocationWithFilters.&lt;InvokeActionMethodFilterAsynchronouslyRecursive&gt;b__3d()&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.AsyncInvocationWithFilters.&lt;&gt;c__DisplayClass46.&lt;InvokeActionMethodFilterAsynchronouslyRecursive&gt;b__3f()&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.AsyncInvocationWithFilters.&lt;&gt;c__DisplayClass46.&lt;InvokeActionMethodFilterAsynchronouslyRecursive&gt;b__3f()&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.&lt;&gt;c__DisplayClass33.&lt;BeginInvokeActionMethodWithFilters&gt;b__32(IAsyncResult asyncResult)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.CallEndDelegate(IAsyncResult asyncResult)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResultBase`1.End()&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.EndInvokeActionMethodWithFilters(IAsyncResult asyncResult)&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.&lt;&gt;c__DisplayClass21.&lt;&gt;c__DisplayClass2b.&lt;BeginInvokeAction&gt;b__1c()&#xD;&#xA;   at System.Web.Mvc.Async.AsyncControllerActionInvoker.&lt;&gt;c__DisplayClass21.&lt;BeginInvokeAction&gt;b__1e(IAsyncResult asyncResult)"
  time="2018-05-10T18:52:09.1111059Z">
  <serverVariables>
    <item
      name="ALL_HTTP">
      <value
        string="HTTP_CACHE_CONTROL:max-age=0&#xD;&#xA;HTTP_CONNECTION:keep-alive&#xD;&#xA;HTTP_CONTENT_LENGTH:240&#xD;&#xA;HTTP_CONTENT_TYPE:application/x-www-form-urlencoded&#xD;&#xA;HTTP_ACCEPT:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8&#xD;&#xA;HTTP_ACCEPT_ENCODING:gzip, deflate, br&#xD;&#xA;HTTP_ACCEPT_LANGUAGE:en-US,en;q=0.9&#xD;&#xA;HTTP_COOKIE:ASP.NET_SessionId=yufyns22dycacb13sx2mcjiv; __RequestVerificationToken=C-3kUdfJ503BChLB8Y-_ydyEuXICxJUVTFAsignmQn9fPhMn_ciQajoZOWeiKWCT2-mgMks-VE4Gg9AMUPDrZ8CkaFcogqDiPpQ9NNuGljg1&#xD;&#xA;HTTP_HOST:localhost:49649&#xD;&#xA;HTTP_REFERER:http://localhost:49649/&#xD;&#xA;HTTP_USER_AGENT:Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36&#xD;&#xA;HTTP_ORIGIN:http://localhost:49649&#xD;&#xA;HTTP_UPGRADE_INSECURE_REQUESTS:1&#xD;&#xA;" />
    </item>
    <item
      name="ALL_RAW">
      <value
        string="Cache-Control: max-age=0&#xD;&#xA;Connection: keep-alive&#xD;&#xA;Content-Length: 240&#xD;&#xA;Content-Type: application/x-www-form-urlencoded&#xD;&#xA;Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8&#xD;&#xA;Accept-Encoding: gzip, deflate, br&#xD;&#xA;Accept-Language: en-US,en;q=0.9&#xD;&#xA;Cookie: ASP.NET_SessionId=yufyns22dycacb13sx2mcjiv; __RequestVerificationToken=C-3kUdfJ503BChLB8Y-_ydyEuXICxJUVTFAsignmQn9fPhMn_ciQajoZOWeiKWCT2-mgMks-VE4Gg9AMUPDrZ8CkaFcogqDiPpQ9NNuGljg1&#xD;&#xA;Host: localhost:49649&#xD;&#xA;Referer: http://localhost:49649/&#xD;&#xA;User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36&#xD;&#xA;Origin: http://localhost:49649&#xD;&#xA;Upgrade-Insecure-Requests: 1&#xD;&#xA;" />
    </item>
    <item
      name="APPL_MD_PATH">
      <value
        string="/LM/W3SVC/4/ROOT" />
    </item>
    <item
      name="APPL_PHYSICAL_PATH">
      <value
        string="D:\Projects\WebTimeSheetManagement\WebTimeSheetManagement\" />
    </item>
    <item
      name="AUTH_TYPE">
      <value
        string="" />
    </item>
    <item
      name="AUTH_USER">
      <value
        string="" />
    </item>
    <item
      name="AUTH_PASSWORD">
      <value
        string="" />
    </item>
    <item
      name="LOGON_USER">
      <value
        string="" />
    </item>
    <item
      name="REMOTE_USER">
      <value
        string="" />
    </item>
    <item
      name="CERT_COOKIE">
      <value
        string="" />
    </item>
    <item
      name="CERT_FLAGS">
      <value
        string="" />
    </item>
    <item
      name="CERT_ISSUER">
      <value
        string="" />
    </item>
    <item
      name="CERT_KEYSIZE">
      <value
        string="" />
    </item>
    <item
      name="CERT_SECRETKEYSIZE">
      <value
        string="" />
    </item>
    <item
      name="CERT_SERIALNUMBER">
      <value
        string="" />
    </item>
    <item
      name="CERT_SERVER_ISSUER">
      <value
        string="" />
    </item>
    <item
      name="CERT_SERVER_SUBJECT">
      <value
        string="" />
    </item>
    <item
      name="CERT_SUBJECT">
      <value
        string="" />
    </item>
    <item
      name="CONTENT_LENGTH">
      <value
        string="240" />
    </item>
    <item
      name="CONTENT_TYPE">
      <value
        string="application/x-www-form-urlencoded" />
    </item>
    <item
      name="GATEWAY_INTERFACE">
      <value
        string="CGI/1.1" />
    </item>
    <item
      name="HTTPS">
      <value
        string="off" />
    </item>
    <item
      name="HTTPS_KEYSIZE">
      <value
        string="" />
    </item>
    <item
      name="HTTPS_SECRETKEYSIZE">
      <value
        string="" />
    </item>
    <item
      name="HTTPS_SERVER_ISSUER">
      <value
        string="" />
    </item>
    <item
      name="HTTPS_SERVER_SUBJECT">
      <value
        string="" />
    </item>
    <item
      name="INSTANCE_ID">
      <value
        string="4" />
    </item>
    <item
      name="INSTANCE_META_PATH">
      <value
        string="/LM/W3SVC/4" />
    </item>
    <item
      name="LOCAL_ADDR">
      <value
        string="::1" />
    </item>
    <item
      name="PATH_INFO">
      <value
        string="/" />
    </item>
    <item
      name="PATH_TRANSLATED">
      <value
        string="D:\Projects\WebTimeSheetManagement\WebTimeSheetManagement" />
    </item>
    <item
      name="QUERY_STRING">
      <value
        string="" />
    </item>
    <item
      name="REMOTE_ADDR">
      <value
        string="::1" />
    </item>
    <item
      name="REMOTE_HOST">
      <value
        string="::1" />
    </item>
    <item
      name="REMOTE_PORT">
      <value
        string="51539" />
    </item>
    <item
      name="REQUEST_METHOD">
      <value
        string="POST" />
    </item>
    <item
      name="SCRIPT_NAME">
      <value
        string="/" />
    </item>
    <item
      name="SERVER_NAME">
      <value
        string="localhost" />
    </item>
    <item
      name="SERVER_PORT">
      <value
        string="49649" />
    </item>
    <item
      name="SERVER_PORT_SECURE">
      <value
        string="0" />
    </item>
    <item
      name="SERVER_PROTOCOL">
      <value
        string="HTTP/1.1" />
    </item>
    <item
      name="SERVER_SOFTWARE">
      <value
        string="Microsoft-IIS/10.0" />
    </item>
    <item
      name="URL">
      <value
        string="/" />
    </item>
    <item
      name="HTTP_CACHE_CONTROL">
      <value
        string="max-age=0" />
    </item>
    <item
      name="HTTP_CONNECTION">
      <value
        string="keep-alive" />
    </item>
    <item
      name="HTTP_CONTENT_LENGTH">
      <value
        string="240" />
    </item>
    <item
      name="HTTP_CONTENT_TYPE">
      <value
        string="application/x-www-form-urlencoded" />
    </item>
    <item
      name="HTTP_ACCEPT">
      <value
        string="text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8" />
    </item>
    <item
      name="HTTP_ACCEPT_ENCODING">
      <value
        string="gzip, deflate, br" />
    </item>
    <item
      name="HTTP_ACCEPT_LANGUAGE">
      <value
        string="en-US,en;q=0.9" />
    </item>
    <item
      name="HTTP_COOKIE">
      <value
        string="ASP.NET_SessionId=yufyns22dycacb13sx2mcjiv; __RequestVerificationToken=C-3kUdfJ503BChLB8Y-_ydyEuXICxJUVTFAsignmQn9fPhMn_ciQajoZOWeiKWCT2-mgMks-VE4Gg9AMUPDrZ8CkaFcogqDiPpQ9NNuGljg1" />
    </item>
    <item
      name="HTTP_HOST">
      <value
        string="localhost:49649" />
    </item>
    <item
      name="HTTP_REFERER">
      <value
        string="http://localhost:49649/" />
    </item>
    <item
      name="HTTP_USER_AGENT">
      <value
        string="Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36" />
    </item>
    <item
      name="HTTP_ORIGIN">
      <value
        string="http://localhost:49649" />
    </item>
    <item
      name="HTTP_UPGRADE_INSECURE_REQUESTS">
      <value
        string="1" />
    </item>
  </serverVariables>
  <form>
    <item
      name="__RequestVerificationToken">
      <value
        string="VcQAemHPMz9PrZKy5X0dv3gEyAnilLt0WZtLPPcjI8Nv10NRYf2gk9uGwAW2NYVxx9xO6APCpwGbDA9ZRM5dZuMmQjeUgkz1PbMkGxQkRto1" />
    </item>
    <item
      name="Username">
      <value
        string="demouser" />
    </item>
    <item
      name="Password">
      <value
        string="1234567" />
    </item>
    <item
      name="CaptchaDeText">
      <value
        string="f22ed465e2e84454b5ceb8e10ef1920d" />
    </item>
    <item
      name="CaptchaInputText">
      <value
        string="yusnu" />
    </item>
  </form>
  <cookies>
    <item
      name="ASP.NET_SessionId">
      <value
        string="yufyns22dycacb13sx2mcjiv" />
    </item>
    <item
      name="__RequestVerificationToken">
      <value
        string="C-3kUdfJ503BChLB8Y-_ydyEuXICxJUVTFAsignmQn9fPhMn_ciQajoZOWeiKWCT2-mgMks-VE4Gg9AMUPDrZ8CkaFcogqDiPpQ9NNuGljg1" />
    </item>
  </cookies>
</error>')
SET IDENTITY_INSERT [dbo].[ELMAH_Error] OFF
/****** Object:  Table [dbo].[Documents]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [varchar](50) NULL,
	[DocumentBytes] [varbinary](max) NULL,
	[UserID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[ExpenseID] [int] NULL,
	[DocumentType] [varchar](10) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON
SET IDENTITY_INSERT [dbo].[Documents] OFF
/****** Object:  Table [dbo].[DescriptionTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DescriptionTB](
	[DescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NULL,
	[ProjectID] [int] NULL,
	[TimeSheetMasterID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_DescriptionTB] PRIMARY KEY CLUSTERED 
(
	[DescriptionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DescriptionTB] ON
INSERT [dbo].[DescriptionTB] ([DescriptionID], [Description], [ProjectID], [TimeSheetMasterID], [CreatedOn], [UserID]) VALUES (1, N'Demo', 1, 1, CAST(0x0000A8DD00100535 AS DateTime), 47)
SET IDENTITY_INSERT [dbo].[DescriptionTB] OFF
/****** Object:  Table [dbo].[AuditTB]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AuditTB](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[SessionID] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[PageAccessed] [varchar](200) NULL,
	[LoggedInAt] [datetime] NULL,
	[LoggedOutAt] [datetime] NULL,
	[LoginStatus] [varchar](200) NULL,
	[ControllerName] [varchar](200) NULL,
	[ActionName] [varchar](200) NULL,
	[UrlReferrer] [varchar](200) NULL,
 CONSTRAINT [PK_AuditTB] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AuditTB] ON
INSERT [dbo].[AuditTB] ([AuditID], [UserID], [SessionID], [IPAddress], [PageAccessed], [LoggedInAt], [LoggedOutAt], [LoginStatus], [ControllerName], [ActionName], [UrlReferrer]) VALUES (1, N'', N'yufyns22dycacb13sx2mcjiv', N'::1', N'http://localhost:49649/', CAST(0x0000A8DD000FC151 AS DateTime), NULL, N'A', N'Login', N'Login', NULL)
INSERT [dbo].[AuditTB] ([AuditID], [UserID], [SessionID], [IPAddress], [PageAccessed], [LoggedInAt], [LoggedOutAt], [LoginStatus], [ControllerName], [ActionName], [UrlReferrer]) VALUES (2, N'', N'yufyns22dycacb13sx2mcjiv', N'::1', N'http://localhost:49649/DefaultCaptcha/Generate?t=72ec858df82542d7977681457c108b23', CAST(0x0000A8DD000FC16F AS DateTime), NULL, N'A', N'DefaultCaptcha', N'Generate', N'/')
INSERT [dbo].[AuditTB] ([AuditID], [UserID], [SessionID], [IPAddress], [PageAccessed], [LoggedInAt], [LoggedOutAt], [LoginStatus], [ControllerName], [ActionName], [UrlReferrer]) VALUES (3, N'', N'yufyns22dycacb13sx2mcjiv', N'::1', N'http://localhost:49649/', CAST(0x0000A8DD000FC90E AS DateTime), NULL, N'A', N'Login', N'Login', N'/')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[AuditTB] OFF
/****** Object:  Table [dbo].[AssignedRoles]    Script Date: 05/19/2018 09:45:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssignedRoles](
	[AssignedRolesID] [int] IDENTITY(1,1) NOT NULL,
	[AssignToAdmin] [int] NULL,
	[Status] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[RegistrationID] [int] NULL,
 CONSTRAINT [PK_AssignedRoles] PRIMARY KEY CLUSTERED 
(
	[AssignedRolesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'It is Registration Table  RegistrationID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedRoles'
GO
SET IDENTITY_INSERT [dbo].[AssignedRoles] ON
INSERT [dbo].[AssignedRoles] ([AssignedRolesID], [AssignToAdmin], [Status], [CreatedOn], [CreatedBy], [RegistrationID]) VALUES (1, 48, N'A', CAST(0x0000A8CA00CB4506 AS DateTime), 1, 5)
INSERT [dbo].[AssignedRoles] ([AssignedRolesID], [AssignToAdmin], [Status], [CreatedOn], [CreatedBy], [RegistrationID]) VALUES (2, 48, N'A', CAST(0x0000A8CA00CB4509 AS DateTime), 1, 6)
INSERT [dbo].[AssignedRoles] ([AssignedRolesID], [AssignToAdmin], [Status], [CreatedOn], [CreatedBy], [RegistrationID]) VALUES (3, 48, N'A', CAST(0x0000A8CA00CB450A AS DateTime), 1, 7)
SET IDENTITY_INSERT [dbo].[AssignedRoles] OFF
/****** Object:  StoredProcedure [dbo].[Usp_CheckIsDateAlreadyUsed_New]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_CheckIsDateAlreadyUsed_New]
@FromDate datetime,
@ToDate datetime,
@UserID int
as
begin

SELECT COUNT(1)
  FROM [TimesheetDB].[dbo].[TimeSheet_New]
  where ToDateTime between @FromDate and @ToDate and UserID =@UserID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_CheckIsDateAlreadyUsed]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_CheckIsDateAlreadyUsed]
@FromDate date,
@ToDate date,
@UserID int
as
begin

SELECT COUNT(1)
  FROM [TimesheetDB].[dbo].[Expense]
  where ToDate between @FromDate and @ToDate and UserID =@UserID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_ChangeTimesheetStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_ChangeTimesheetStatus]
@Status int,
@TimeSheetID int,
@Comment varchar(100)
as
begin
Update dbo.TimeSheetAuditTB
set 
Status = @Status,
Comment = @Comment,
ProcessedDate =getdate()
where TimeSheetID = @TimeSheetID and Status <> 1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_ChangeExpenseStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_ChangeExpenseStatus]
@Status int,
@ExpenseID int,
@Comment varchar(100)
as
begin
Update dbo.ExpenseAuditTB
set 
Status = @Status,
Comment = @Comment,
ProcessedDate =getdate()
where ExpenseID = @ExpenseID and Status <> 1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateUserRole]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_UpdateUserRole]  
@RegistrationID int  
as      
begin      
Delete from AssignedRoles where RegistrationID = @RegistrationID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateTimeSheetStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_UpdateTimeSheetStatus]  
@TimeSheetMasterID int,  
@Comment varchar(100),  
@TimeSheetStatus int  
as  
begin  
update TimeSheetMaster  
set TimeSheetMaster.TimeSheetStatus =@TimeSheetStatus,  
TimeSheetMaster.Comment =@Comment  
where TimeSheetMaster.TimeSheetMasterID =@TimeSheetMasterID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdatePasswordbyRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_UpdatePasswordbyRegistrationID]
@RegistrationID int,
@Password varchar(100)
as
begin
Update Registration
set Registration.Password = @Password
where Registration.RegistrationID =@RegistrationID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_Updatepassword]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_Updatepassword]
@NewPassword varchar(100),
@UserID int
as
begin

update Registration 
set Password = @NewPassword
where Registration.RegistrationID = @UserID  
  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateExpenseStatus]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_UpdateExpenseStatus]
@ExpenseID int,
@Comment varchar(100),
@ExpenseStatus int
as
begin
update Expense
set Expense.ExpenseStatus =@ExpenseStatus,
Expense.Comment =@Comment
where Expense.ExpenseID =@ExpenseID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetWeekTimeSheetDetails]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetWeekTimeSheetDetails]
@TimeSheetMasterID int
as
begin
select TM.DaysofWeek
      ,TM.Hours
      ,TM.Period
      ,PM.ProjectName
      ,TM.CreatedOn
      from TimeSheetDetails TM
Inner join ProjectMaster PM on TM.ProjectID = PM.ProjectID 
where TimeSheetMasterID = @TimeSheetMasterID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsersCountbyAdminByAdminID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetUsersCountbyAdminByAdminID] 
@AdminID int 
as
begin
 select ApprovalUser,
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,
    count(case when Status = 3 then 1 else NULL end) RejectedCount
from TimeSheetAuditTB
where ApprovalUser = @AdminID 
group by ApprovalUser
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsersCountbyAdmin]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetUsersCountbyAdmin]
@AdminID int 
as
begin
Select Count (1) as UsersCount FROM AssignedRoles where AssignToAdmin =@AdminID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsersCount]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetUsersCount]
as
begin
Select Count (1) as UsersCount FROM [TimesheetDB].[dbo].[Registration]where RoleID =2
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUsernamebyRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetUsernamebyRegistrationID]  
@RegistrationID int  
as  
begin  
SELECT   replace(Name, ' ', '')
FROM Registration  
where RegistrationID =@RegistrationID 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUserDetailsByRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_GetUserDetailsByRegistrationID]
@RegistrationID int
as
begin
select
EmployeeID,  
Name,
Mobileno,
EmailID,
Username,
Case when Gender ='M' then 'Male'  when Gender ='F' then 'Female' End Gender,
CONVERT(VARCHAR(10), Birthdate, 101) as Birthdate,
CONVERT(VARCHAR(10), DateofJoining, 101) as DateofJoining
from Registration where RoleID =2 and RegistrationID =@RegistrationID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetsCountByUserID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetsCountByUserID]   
@UserID int   
as  
begin  
 select UserID,  
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,  
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,  
    count(case when Status = 3 then 1 else NULL end) RejectedCount  
from TimeSheetAuditTB 
where UserID = @UserID   
group by UserID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetsCountByAdminID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetsCountByAdminID] 
@AdminID int 
as
begin
 select ApprovalUser,
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,
    count(case when Status = 3 then 1 else NULL end) RejectedCount
from TimeSheetAuditTB
where ApprovalUser = @AdminID 
group by ApprovalUser
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetMasterIDTimeSheet]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetMasterIDTimeSheet]  
@FromDate Date = null,  
@ToDate Date  = null,  
@UserID int  
as  
begin  
  

SELECT [TimeSheetMasterID]  
FROM [TimesheetDB].[dbo].[TimeSheetMaster]  
where FromDate  between @FromDate and @ToDate and UserID = @UserID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTimeSheetbyFromDateandToDateTimeSheet]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetTimeSheetbyFromDateandToDateTimeSheet]  
@FromDate date = null,  
@ToDate date  = null
as  
begin  
  
SELECT [TimeSheetMasterID]  
FROM [TimesheetDB].[dbo].[TimeSheetMaster]  
where FromDate  between @FromDate and @ToDate 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetReportofExpense]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetReportofExpense]    
@FromDate date = null,      
@ToDate date  = null,  
@AssignTo int        
as    
begin    
    
SELECT     
       PM.ProjectName           
      ,[PurposeorReason]    
      ,Reg.Name    
      ,case when ExpenseStatus =1 then 'Submitted' when ExpenseStatus =2 then 'Approved' when ExpenseStatus =3 then 'Rejected' end as Status    
      ,EA.Comment as Comment   
      ,[FromDate]    
      ,[ToDate]    
      ,[VoucherID]    
      ,[HotelBills]    
      ,[TravelBills]    
      ,[MealsBills]    
      ,[LandLineBills]    
      ,[TransportBills]    
      ,[MobileBills]    
      ,[Miscellaneous]    
      ,[TotalAmount]    
      ,ex.CreatedOn        
  FROM [TimesheetDB].[dbo].[Expense] ex    
  inner join Registration Reg on reg.RegistrationID = ex.UserID    
  inner join ProjectMaster PM on ex.ProjectID =PM.ProjectID 
  inner join AssignedRoles AR on reg.RegistrationID = AR.RegistrationID   
  inner join ExpenseAuditTB EA on ex.ExpenseID = EA.ExpenseID 
  where FromDate  between @FromDate and @ToDate and AR.AssignToAdmin =@AssignTo and EA.Status = 2      
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetProjectNamesbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetProjectNamesbyTimeSheetMasterID]
@TimeSheetMasterID int
as
begin

  SELECT 
      TM.ProjectID,
      PM.ProjectName
  FROM [TimeSheetDetails] TM
  inner join ProjectMaster PM on TM.ProjectID =PM.ProjectID 
  where  TM.TimeSheetMasterID =@TimeSheetMasterID 
  group by TM.[ProjectID],PM.ProjectName
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetProjectCount]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetProjectCount]
as
begin
  Select Count (1) as ProjectCount FROM [TimesheetDB].[dbo].[ProjectMaster]
  end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetPeriodsbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetPeriodsbyTimeSheetMasterID]      
@TimeSheetMasterID int      
as      
begin      
      
SELECT       
      CONVERT(varchar(10),T.Period) as Period    
  FROM [TimesheetDB].[dbo].[TimeSheetDetails] T       
  inner join TimeSheetAuditTB TA on T.TimeSheetMasterID = TA.TimeSheetID  
  where TimeSheetMasterID =@TimeSheetMasterID       
  group by Period      
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetListofUnAssignedUsers]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_GetListofUnAssignedUsers]      
      
as      
begin      
      
select * from dbo.Registration R       
where R.RoleID =2 and r.RegistrationID not in (
Select RegistrationID from dbo.AssignedRoles
)    
      
      
--RoleID Rolename      
--1 Admin      
--2 Users      
--3 SuperAdmin      
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetListofAdmins]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetListofAdmins]  
  
as  
begin  
select RegistrationID, UPPER(Name) as Name from Registration where RoleID = 1  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetHoursbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetHoursbyTimeSheetMasterID]    
@TimeSheetMasterID int   ,
@ProjectID int 
as    
begin    
    
SELECT     
      Hours 
  FROM [TimeSheetDetails]     
  where TimeSheetMasterID =@TimeSheetMasterID and ProjectID =@ProjectID
  
  union all
  
  SELECT     
      SUM(Hours) 
  FROM [TimeSheetDetails]     
  where TimeSheetMasterID =@TimeSheetMasterID and ProjectID =@ProjectID 
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetExpenseAuditCountByUserID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetExpenseAuditCountByUserID]
@UserID int   
as  
begin  
 select UserID,  
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,  
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,  
    count(case when Status = 3 then 1 else NULL end) RejectedCount  
from ExpenseAuditTB  
where UserID = @UserID   
group by UserID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetExpenseAuditCountByAdminID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetExpenseAuditCountByAdminID] 
@AdminID int 
as
begin
 select ApprovalUser,
    count(case when Status = 1 then 1 else NULL end) SubmittedCount,
    count(case when Status = 2 then 1 else NULL end) ApprovedCount,
    count(case when Status = 3 then 1 else NULL end) RejectedCount
from ExpenseAuditTB
where ApprovalUser = @AdminID 
group by ApprovalUser
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllReportofExpense]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetAllReportofExpense]    
@FromDate date = null,      
@ToDate date  = null
  
as    
begin    
    
SELECT     
       PM.ProjectName           
      ,[PurposeorReason]    
      ,Reg.Name    
      ,case when ExpenseStatus =1 then 'Submitted' when ExpenseStatus =2 then 'Approved' when ExpenseStatus =3 then 'Rejected' end as Status    
      ,[Comment]    
      ,[FromDate]    
      ,[ToDate]    
      ,[VoucherID]    
      ,[HotelBills]    
      ,[TravelBills]    
      ,[MealsBills]    
      ,[LandLineBills]    
      ,[TransportBills]    
      ,[MobileBills]    
      ,[Miscellaneous]    
      ,[TotalAmount]    
      ,ex.CreatedOn        
  FROM [TimesheetDB].[dbo].[Expense] ex    
  inner join Registration Reg on reg.RegistrationID = ex.UserID    
  inner join ProjectMaster PM on ex.ProjectID =PM.ProjectID    
  where FromDate  between @FromDate and @ToDate  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAdminIDbyUserID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Usp_GetAdminIDbyUserID]
@UserID int
as
begin
SELECT 
      [AssignToAdmin]
  FROM [TimesheetDB].[dbo].[AssignedRoles] where RegistrationID = @UserID
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAdminDetailsByRegistrationID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_GetAdminDetailsByRegistrationID]  
@RegistrationID int  
as  
begin  
select  
EmployeeID,    
Name,  
Mobileno,  
EmailID,  
Username,  
Case when Gender ='M' then 'Male'  when Gender ='F' then 'Female' End Gender,  
CONVERT(VARCHAR(10), Birthdate, 101) as Birthdate,  
CONVERT(VARCHAR(10), DateofJoining, 101) as DateofJoining  
from Registration where RoleID =1 and RegistrationID =@RegistrationID  
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAdminCount]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Usp_GetAdminCount]
as
begin
Select Count (1) as AdminCount FROM [TimesheetDB].[dbo].[Registration] where RoleID =1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DisableExistingNotifications]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[Usp_DisableExistingNotifications]
as
begin

update NotificationsTB
set NotificationsTB.Status ='D'

end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteTimeSheet]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_DeleteTimeSheet]
@TimeSheetID int,
@UserID int
as
begin

Delete from TimeSheetMaster where TimeSheetMasterID =@TimeSheetID and UserID =@UserID

if exists (select TimeSheetID from dbo.TimeSheetDetails where TimeSheetID =@TimeSheetID and UserID =@UserID)
begin
Delete from TimeSheetDetails where TimeSheetID =@TimeSheetID and UserID =@UserID
end

if exists (select TimeSheetID from dbo.TimeSheetAuditTB where TimeSheetID =@TimeSheetID and UserID =@UserID)
begin
Delete from TimeSheetAuditTB where TimeSheetID =@TimeSheetID and UserID =@UserID
end

end
GO
/****** Object:  StoredProcedure [dbo].[Usp_DeleteExpenseandDocuments]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_DeleteExpenseandDocuments]  
@ExpenseID int ,
@UserID int 
as  
begin  
Delete from Expense where ExpenseID =@ExpenseID and UserID =@UserID  
  
if exists (select DocumentID from dbo.Documents where ExpenseID =@ExpenseID and UserID =@UserID )  
begin  
Delete from Documents where ExpenseID =@ExpenseID and UserID =@UserID  
end  
  
if exists (select ApprovaExpenselLogID from dbo.ExpenseAuditTB where ExpenseID =@ExpenseID and UserID =@UserID)  
begin  
Delete from ExpenseAuditTB where ExpenseID =@ExpenseID and UserID =@UserID  
end  
  
  
end
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_LogError]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_LogError]
(
    @ErrorId UNIQUEIDENTIFIER,
    @Application NVARCHAR(60),
    @Host NVARCHAR(30),
    @Type NVARCHAR(100),
    @Source NVARCHAR(60),
    @Message NVARCHAR(500),
    @User NVARCHAR(50),
    @AllXml NTEXT,
    @StatusCode INT,
    @TimeUtc DATETIME
)
AS

    SET NOCOUNT ON

    INSERT
    INTO
        [ELMAH_Error]
        (
            [ErrorId],
            [Application],
            [Host],
            [Type],
            [Source],
            [Message],
            [User],
            [AllXml],
            [StatusCode],
            [TimeUtc]
        )
    VALUES
        (
            @ErrorId,
            @Application,
            @Host,
            @Type,
            @Source,
            @Message,
            @User,
            @AllXml,
            @StatusCode,
            @TimeUtc
        )
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_GetErrorXml]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_GetErrorXml]
(
    @Application NVARCHAR(60),
    @ErrorId UNIQUEIDENTIFIER
)
AS

    SET NOCOUNT ON

    SELECT 
        [AllXml]
    FROM 
        [ELMAH_Error]
    WHERE
        [ErrorId] = @ErrorId
    AND
        [Application] = @Application
GO
/****** Object:  StoredProcedure [dbo].[ELMAH_GetErrorsXml]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELMAH_GetErrorsXml]
(
    @Application NVARCHAR(60),
    @PageIndex INT = 0,
    @PageSize INT = 15,
    @TotalCount INT OUTPUT
)
AS 

    SET NOCOUNT ON

    DECLARE @FirstTimeUTC DATETIME
    DECLARE @FirstSequence INT
    DECLARE @StartRow INT
    DECLARE @StartRowIndex INT

    SELECT 
        @TotalCount = COUNT(1) 
    FROM 
        [ELMAH_Error]
    WHERE 
        [Application] = @Application

    -- Get the ID of the first error for the requested page

    SET @StartRowIndex = @PageIndex * @PageSize + 1

    IF @StartRowIndex <= @TotalCount
    BEGIN

        SET ROWCOUNT @StartRowIndex

        SELECT  
            @FirstTimeUTC = [TimeUtc],
            @FirstSequence = [Sequence]
        FROM 
            [ELMAH_Error]
        WHERE   
            [Application] = @Application
        ORDER BY 
            [TimeUtc] DESC, 
            [Sequence] DESC

    END
    ELSE
    BEGIN

        SET @PageSize = 0

    END

    -- Now set the row count to the requested page size and get
    -- all records below it for the pertaining application.

    SET ROWCOUNT @PageSize

    SELECT 
        errorId     = [ErrorId], 
        application = [Application],
        host        = [Host], 
        type        = [Type],
        source      = [Source],
        message     = [Message],
        [user]      = [User],
        statusCode  = [StatusCode], 
        time        = CONVERT(VARCHAR(50), [TimeUtc], 126) + 'Z'
    FROM 
        [ELMAH_Error] error
    WHERE
        [Application] = @Application
    AND
        [TimeUtc] <= @FirstTimeUTC
    AND 
        [Sequence] <= @FirstSequence
    ORDER BY
        [TimeUtc] DESC, 
        [Sequence] DESC
    FOR
        XML AUTO
GO
/****** Object:  StoredProcedure [dbo].[GetUserIDbyTimeSheetID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetUserIDbyTimeSheetID]
@TimeSheetMasterID int
as
begin
select top 1 UserID from TimeSheetMaster where TimeSheetMasterID =@TimeSheetMasterID
end
GO
/****** Object:  StoredProcedure [dbo].[GetUserIDbyExpenseID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[GetUserIDbyExpenseID]
@ExpenseID int
as
begin
select top 1 UserID from Expense where ExpenseID =@ExpenseID
end
GO
/****** Object:  StoredProcedure [dbo].[GetDescriptionbyTimeSheetMasterID]    Script Date: 05/19/2018 09:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetDescriptionbyTimeSheetMasterID]      
@TimeSheetMasterID int   ,  
@ProjectID int   
as      
begin      

select Description from DescriptionTB where TimeSheetMasterID =@TimeSheetMasterID and ProjectID =@ProjectID  
end
GO
/****** Object:  Default [DF_ELMAH_Error_ErrorId]    Script Date: 05/19/2018 09:45:07 ******/
ALTER TABLE [dbo].[ELMAH_Error] ADD  CONSTRAINT [DF_ELMAH_Error_ErrorId]  DEFAULT (newid()) FOR [ErrorId]
GO
