
@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<link href="~/Scripts/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/dataTablesScripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTablesScripts/dataTables.bootstrap4.min.js"></script>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">All TimeSheet</div>
            <div class="panel-body">
                <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>OverTimeMasterID</th>
                            <th>FromDate</th>
                            <th>ToDate</th>
                            <th>TotalHours</th>
                            <th>CreatedOn</th>
                            <th>OverTimeStatus</th>
                            <th>Comment</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/AllOverTime/LoadOverTimeData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            },
              {
                  "targets": [6],
                  "searchable": false,
                  "orderable": false
              },
                {
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                },
                  {
                      "targets": [8],
                      "searchable": false,
                      "orderable": false
                  }


            ],
            "columns": [
                { "data": "OverTimeMasterID", "name": "OverTimeMasterID", "autoWidth": true },
                { "data": "FromDate", "name": "FromDate", "autoWidth": true },
                { "data": "ToDate", "name": "ToDate", "autoWidth": true },
                { "data": "TotalHours", "name": "TotalHours", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "OverTimeStatus", "name": "OverTimeStatus", "title": "Status", "autoWidth": true },
                { "data": "Comment", "name": "Comment", "title": "Comment", "autoWidth": true },
                {
                    "render": function (data, type, full, meta)
                    { return '<a class="btn btn-info" href="/AllOverTime/Details/' + full.OverTimeMasterID + '">View</a>'; }
                },
                 {
                     data: null, render: function (data, type, row) {
                         if (row.OverTimeStatus == "Submitted" || row.OverTimeStatus == "Rejected") {
                             return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.OverTimeMasterID + "'); >Delete</a>";
                         }
                         else {
                             return row.OverTimeStatus;
                         }
                     }
                 },
            ]

        });
    });



</script>

<script type="text/javascript">

    function DeleteData(ID) {
        if (confirm("Are you sure you want to delete ...?")) {
            DeleteSheet(ID);
        }
        else {
            return false;
        }
    }
    function DeleteSheet(ID) {
        var url = '@Url.Content("~/")' + "OverTime/Delete";
        $.post(url, { OverTimeMasterID: ID }, function (data) {
            if (data) {
                oTable = $('#myTable').DataTable();
                oTable.draw();
            }
            else {
                alert("Something Went Wrong!");
            }
        });
    }
</script>

  
